*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-size: 14px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  grid-row: 1 / 3;
  background-color: paleturquoise;
  height: 300px;
}

.header {
  position: relative;
  padding: 14px 35px;
  box-shadow: 0px 5px 5px -2px #d5d7dc;
}

.top-header {
  display: grid;
  grid-template-columns: 20px 1fr 20px 35px 100px;
  gap: 20px;
  margin-bottom: 32px;
  align-items: center;
}

.magnifying-glass {
  height: 20px;
  background-image: url(icons-svg/magnify.svg);
  border: none;
  background-color: white;
}

.search-bar {
  margin-right: 70px;
  padding-left: 8px;
  height: 22px;
  border-radius: 25px;
  border: none;
  background-color: #e9ebef;
}

.search-bar:focus {
  box-shadow: 3px 3px 8px -2px #a2a4a9;
}

.notification-bell {
  height: 20px;
  background-image: url(icons-svg/bell-ring-outline.svg);
  border: none;
  background-color: white;
}

.top-header > .user-icon {
  height: 35px;
}

.username {
  font-weight: bold;
}

.user-icon {
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
  object-position: left;
}

.bottom-header {
  display: grid;
  grid-template-columns: 50px 1fr repeat(3, 75px);
  gap: 20px;
  align-items: center;
}

.bottom-header > .user-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: left;
}

.bottom-header .username {
  font-size: 1.3rem;
}

.greeting {
  font-weight: bold;
  font-size: 0.9rem;
}

.menu-button {
  border-radius: 25px;
  padding: 8px 12px;
  border: none;
}

.main-content {
  background-color: #e9ebef;
  height: 200px;
}