*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  grid-row: 1 / 3;
  background-color: paleturquoise;
  height: 300px;
}

.header {
  padding: 12px 50px 10px 50px;
}

.top-header {
  display: grid;
  grid-template-columns: 25px 1fr 25px 35px 100px;
  gap: 14px;
  margin-bottom: 30px;
  align-items: center;
}

.search-bar {
  margin-right: 90px;
  padding-left: 8px;
  height: 22px;
  border-radius: 25px;
  border: none;
  background-color: #e5e7eb;
}

.search-bar:focus {
  box-shadow: 3px 3px 8px -2px #a2a4a9;
}

.user-icon {
  border: 2px solid black;
}

.bottom-header {
  display: grid;
  grid-template-columns: 50px 1fr 70px 70px 70px;
  gap: 20px;
  align-items: center;
}

.main-content {
  background-color: palegreen;
  height: 200px;
}